$mainColor: #102031;
$bgWindowGifColor: #0a1420;
$choosedGifColor: #5959ff;

body {
  background: $mainColor;
}

.game {
  position: absolute;
  width: 80%;
  height: 90%;
  border: 2px solid white;
  top: 50%;
  left: 50%;
  background: none;
  transform: translate(-50%, -50%);
}


.leave_from_game__btn {
  position: fixed;
  right: 0;
  top: 0;
}

.form-choose-gif {
  position: relative;
  display: flex;
  overflow-x: auto;
  width: 350px;
  border-radius: 10px;
  height: 500px;
  flex-wrap: wrap;
  padding: 15px;
  gap: 20px;
  background: $bgWindowGifColor;
  margin: auto
}


.gif-searcher {
  margin: auto;
  height: 32px;
  background: none;
  width: 80%;
}

.searcher__field {
  position: relative;
  display: flex;
  margin: auto;
  background: white;
  border-radius: 10px;
  width: 100%;
}

.window-choose-gif-item {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 10px;

  &:hover {
    border: $choosedGifColor 3px solid;
  }
}

.selected-gif {
  border: $choosedGifColor 3px solid;
}

.search-icon {
  position: absolute;
  display: flex;
  right: 2%;
  top: 13%;
}
