@import "../Variables";

.game {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background-color: $bgColor;
  color: $bgColor;
  font-weight: 700;
  position: relative;
}

.game__centerBlock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 70%;
}

// IDEA

.game__idea {
  width: 100%;
  height: 100%;
  background-color: $mainColor;
  border-radius: 10px;
  padding: 15px;
  @extend %flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.idea__title {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px;
  text-align: center;
  word-wrap: break-word;
}

.idea__textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  flex-grow: 1;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 16px;
}

.idea__down {
  width: 100%;
  @extend %flex;
  justify-content: space-between;
  font-size: 16px;
}

.idea__buttons {
  @extend %flex;
}

.idea-buttons__random {
  color: $bgColor;
  background-color: white;
  padding: 10px 20px;
  height: 50px;
  margin-right: 15px;
  transition: all 0.15s ease-in-out;

  &:hover {
    transform: none;
    color: white;
    background-color: $bgColor;
  }

  &:active {
    transform: scale(0.9);
    color: white;
    background-color: $bgColor;
  }
}

.idea-buttons__send {
  width: 50px;
  height: 50px;
  color: $bgColor;
  background: white url("../../Imgs/PNG/send.svg") no-repeat center;
  transition: all 0.15s ease-in-out;

  &:hover {
    background: $bgColor url("../../Imgs/PNG/send_white.svg") no-repeat center;
  }

  &:active {
    transform: scale(0.9);
    background: $bgColor url("../../Imgs/PNG/send_white.svg") no-repeat center;
  }
}

// WaitingForPlayers

.game__waiting {
  width: 100%;
  height: 100%;
  background-color: $mainColor;
  border-radius: 10px;
  @extend %flex;
}

.waiting__ready-players {
  color: #FFF;
  text-align: center;
  font-size: 24px;
}

// Answers

.game__answers {
  width: 100%;
  height: 100%;
  background-color: $mainColor;
  border-radius: 10px;
  padding: 15px;
  @extend %flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.answers__round {
  font-size: 24px;
  font-weight: 400;
  color: white;
  margin-bottom: 10px;
  padding-bottom: 10px;
  width: 100%;
  position: relative;

  &::before {
    content: "";
    width: calc(100% + 30px);
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: -15px;
  }
}

.answers__situation {
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  color: white;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.answers__bottom {
  width: 100%;
  @extend %flex;
  justify-content: space-between;
}

.answers__button {
  width: 50px;
  height: 50px;
  color: $bgColor;
  background: white url("../../Imgs/PNG/send.svg") no-repeat center;
  transition: all 0.15s ease-in-out;

  &:hover {
    background: $bgColor url("../../Imgs/PNG/send_white.svg") no-repeat center;
  }

  &:active {
    background: $bgColor url("../../Imgs/PNG/send_white.svg") no-repeat center;
  }
}


// Reactions


.game__reactions {
  width: 100%;
  height: 100%;
  background-color: $mainColor;
  border-radius: 10px;
  padding: 15px;
  @extend %flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.reactions__title {
  width: 100%;
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin-bottom: 15px;
}

.reactions__swiper {
  width: 100%;
  flex-grow: 1;
  margin-bottom: 15px;
  background-color: transparent;
  cursor: pointer;
}

.reactions__gif {
  width: 100%;
  height: 100%;
  @extend %flex;
  user-select: none;

  img {
    max-width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
    border-radius: 10px;
  }
}

.reactions__reactions {
  @extend %flex;
}

.reactions__reaction {
  cursor: pointer;

  transition: all 0.15s ease-in-out;

  &:hover {
    transform: scale(0.85);
  }

  &:active {
    transform: scale(0.7);
  }
}

// End

.game__end {
  width: 100%;
  height: 100%;
  background-color: $mainColor;
  border-radius: 10px;
  padding: 15px;
  @extend %flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.end__users {
  width: 100%;
  flex-grow: 1;
  position: relative;
}

.end__user {
  position: absolute;
  @extend %flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:nth-child(1) {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    margin-bottom: 15px;

    img {
      width: 150px;
      height: 150px;
    }

    svg {
      width: 150px;
      height: 150px;

      path, circle {
        stroke: $bgWindowGifColor;
        fill: transparent;
      }
    }

    p {
      font-size: 18px;
    }
  }

  &:nth-child(2) {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);

    img {
      width: 125px;
      height: 125px;
    }

    svg {
      width: 125px;
      height: 125px;

      path, circle {
        stroke: $bgWindowGifColor;
        fill: transparent;
      }
    }

    p {
      font-size: 16px;
    }
  }

  &:nth-child(3) {
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);

    img {
      width: 100px;
      height: 100px;
    }

    svg {
      width: 100px;
      height: 100px;

      path, circle {
        stroke: $bgWindowGifColor;
        fill: transparent;
      }
    }

    p {
      font-size: 14px;
    }
  }
}

.end__user-place {
  font-size: 20px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.end__user-image {
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

.end__user-name {
  padding: 5px 10px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

.end__button {
  width: 100%;
  height: fit-content;
  @extend %flex;
  align-items: end;
  justify-content: center;
}

.end__button-leave {
  font-size: 16px;
  padding: 10px 50px;
  width: fit-content;
  color: $bgWindowGifColor;
  background-color: white;
}

@media (max-width: 1660px) {
  .game__centerBlock {
    width: 700px;
  }
}

@media (max-width: 1200px) {
  .end__user {
    &:nth-child(1) {
      img {
        width: 100px;
        height: 100px;
      }

      svg {
        width: 100px;
        height: 100px;
      }

      p {
        font-size: 16px;
      }
    }

    &:nth-child(2) {
      img {
        width: 75px;
        height: 75px;
      }

      svg {
        width: 75px;
        height: 75px;
      }

      p {
        font-size: 14px;
      }
    }

    &:nth-child(3) {
      img {
        width: 75px;
        height: 75px;
      }

      svg {
        width: 75px;
        height: 75px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  .end__user-place{
    font-size: 18px;
  }
}

@media (max-width: 1080px) {
  .game__centerBlock {
    width: 50%;
  }

  .end__user {
    &:nth-child(1) {
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      margin-bottom: 15px;
    }

    &:nth-child(2) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-bottom: 15px;
    }

    &:nth-child(3) {
      top: 80%;
      left: 50%;
      transform: translate(-50%, -80%);
    }
  }

  .reactions__reaction{
    width: 75px;
  }
}

@media (max-width: 768px) {
  .game__centerBlock {
    width: 40%;
  }

  .end__user {
    &:nth-child(1) {
      img {
        width: 75px;
        height: 75px;
      }

      svg {
        width: 75px;
        height: 75px;
      }
    }

    &:nth-child(2) {
      img {
        width: 50px;
        height: 50px;
      }

      svg {
        width: 50px;
        height: 50px;
      }
    }

    &:nth-child(3) {
      img {
        width: 50px;
        height: 50px;
      }

      svg {
        width: 50px;
        height: 50px;
      }
    }
  }

  .reactions__reaction{
    width: 50px;
  }
}