@import "../Variables";

.game {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background-color: $bgColor;
  color: $bgColor;
  font-weight: 700;
  position: relative;
}

.game__centerBlock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 75%;
}

// HEADER

.game__header {
  @extend %flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 30px 0 30px;
}

// PLAYERS

.game__players {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(0, -50%);
  background-color: $mainColor;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.players__list {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  max-width: 100px;
}

.players__all-leave {
  font-size: 14px;
  text-align: center;
  word-break: break-word;
  margin-bottom: 15px;
}

.players__player {
  @extend %flex;
  flex-direction: column;
  width: 75px;
  color: $bgWindowGifColor;


  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.player__avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-bottom: 5px;

  svg {
    width: 60px;
    height: 60px;

    path, circle {
      stroke: $bgWindowGifColor;
      fill: transparent;
    }
  }
}

.player__name {
  font-size: 14px;
  text-align: center;
  overflow-x: hidden;
  max-width: 100%;
}

.game-header__leave {
  font-size: 14px;
  padding: 10px 0;
  width: 100%;
  color: white;
}


// IDEA

.game__idea {
  width: 100%;
  height: 100%;
  background-color: $mainColor;
  border-radius: 10px;
  padding: 15px;
  @extend %flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.idea__title {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px;
  text-align: center;
  word-wrap: break-word;
}

.idea__textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  flex-grow: 1;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 16px;
}

.idea__down {
  width: 100%;
  @extend %flex;
  justify-content: space-between;
  font-size: 16px;
}

.idea__buttons {
  @extend %flex;
}

.idea-buttons__random {
  color: $bgColor;
  background-color: white;
  padding: 10px 20px;
  height: 50px;
  margin-right: 15px;
  transition: all 0.15s ease-in-out;

  &:hover {
    transform: none;
    color: white;
    background-color: $bgColor;
  }

  &:active {
    transform: scale(0.9);
    color: white;
    background-color: $bgColor;
  }
}

.idea-buttons__send {
  width: 50px;
  height: 50px;
  color: $bgColor;
  background: white url("../../Imgs/PNG/send.svg") no-repeat center;
  transition: all 0.15s ease-in-out;

  &:hover {
    background: $bgColor url("../../Imgs/PNG/send_white.svg") no-repeat center;
  }

  &:active {
    transform: scale(0.9);
    background: $bgColor url("../../Imgs/PNG/send_white.svg") no-repeat center;
  }
}

// WaitingForPlayers

.game__waiting {
  width: 100%;
  height: 100%;
  background-color: $mainColor;
  border-radius: 10px;
  @extend %flex;
}

.waiting__ready-players {
  color: #FFF;
  text-align: center;
  font-size: 24px;
}

// Answers

.game__answers {
  width: 100%;
  height: 100%;
  background-color: $mainColor;
  border-radius: 10px;
  padding: 15px;
  @extend %flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.answers__round {
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin-bottom: 10px;
  padding-bottom: 10px;
  width: 100%;
  position: relative;

  &::before {
    content: "";
    width: calc(100% + 30px);
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: -15px;
  }
}

.answers__situation {
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  color: white;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.gif-send__btn {
  position: absolute;
  bottom: 10px;
  right: 13%;
  width: 50px;
  height: 50px;
  color: $bgColor;
  background: white url("../../Imgs/PNG/send.svg") no-repeat center;
  transition: all 0.15s ease-in-out;

  &:hover {
    background: $bgColor url("../../Imgs/PNG/send_white.svg") no-repeat center;
  }

  &:active {
    background: $bgColor url("../../Imgs/PNG/send_white.svg") no-repeat center;
  }
}

// Answers-Window

.answers__window {
  width: 100%;
  flex-grow: 1;
  background-color: $bgColor;
  border-radius: 5px;
  margin-bottom: 10px;
}

.window {
  width: 100%;
  height: 100%;
  @extend %flex;
}

.window__block {
  width: 100%;
  height: 100%;
  padding: 15px;
}

.window__search {
  width: 100%;
  height: 35px;
  @extend %flex;
  margin-bottom: 15px;
}

.window__search-input {
  flex-grow: 1;
  height: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 10px 15px;
  color: $bgColor;
  font-size: 16px;
}

.window__search-search {
  cursor: pointer;
  padding: 0 15px 0 15px;
  background-color: white;
  height: 100%;
  @extend %flex;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.window__items {
  @extend %flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 7px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 10px;
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: $mainColor;
    border-radius: 20px;
  }
}

.window__items-item {
  padding: 5px;
  margin-bottom: 10px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.window__item-gif{
  cursor: pointer;

  &:hover, &:active{
    outline: 5px solid $mainColor;
  }
}

.window__currentGif{
  width: 100%;
  height: 100%;
  @extend %flex;
  position: relative;

  img{
    width: 50%;
    height: 50%;
    object-fit: contain;
  }

  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000000;
    opacity: 0;
    transition: all 0.15s ease-in-out;
  }

  &::after{
    content: "";
    cursor: pointer;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000000;
    opacity: 0;
    background: url("./src/Imgs/PNG/cancelIconBig.svg") no-repeat center;
    transition: all 0.15s ease-in-out;
  }

  &:hover::before, &:active::before{
    opacity: 1;
  }

  &:hover::after, &:active::after{
    opacity: 1;
  }
}

.window__choose {
  cursor: pointer;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  background-color: $mainColor;

  &::before {
    content: "";
    width: 50px;
    height: 1px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    background-color: white;
    position: absolute;
  }

  &::after {
    content: "";
    width: 50px;
    height: 1px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
    background-color: white;
    position: absolute;
  }
}
