$bgColor: #102031;
$mainColor: #9B59B6;
$borderGrey: #dedede;

%flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Modal

.modal-window {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  backdrop-filter: blur(5px);
}

.modal-window__content {
  color: black;
  padding: 25px;
  background: white;
  border-radius: 15px;
  min-width: 250px;
  position: relative;
}

.modal-window__btn {
  z-index: 100000;
  position: absolute;
  cursor: pointer;
  height: 30px;
  width: 30px;
  right: -30px;
  top: 0;
  background-image: url("./src/Imgs/PNG/cancelIcon.svg");
}

// Swiper

.swiper{
  cursor: pointer;
  @extend %flex;
  justify-content: start;
  width: 50px;
  height: 24px;
  padding: 0 5px;
  background-color: $borderGrey;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.swiper-active{
  background-color: $mainColor !important;
  justify-content: end !important;
}

.swiper__block{
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: white;
}

// joinGame

.joinGame{
  @extend %flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 14px;
  color: $bgColor;
  user-select: none;
  padding: 0 15px;

  div{
    cursor: pointer;
    margin-bottom: 10px;
    height: 75px;
  }

  p{
    overflow-x: hidden;
    max-width: 100%;
  }
}