.modal-window {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  backdrop-filter: blur(5px);
}

.modal-window__content {
  color: black;
  padding: 25px;
  background: white;
  border-radius: 15px;
  min-width: 250px;
}

.close-modal__btn {
  position: absolute;
  right: 27%;
  top: 22.5%;
  padding: 1rem;
  cursor: pointer;
  background: none;
  font-size: 40px;
}
