$bgColor: #102031;
$mainColor: #9B59B6;
$borderGrey: #dedede;

%flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lobby {
  height: 100vh;
  background-color: $bgColor;
  color: #102031;
  font-weight: 700;
}

.lobby__container {
  @extend %flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
  max-width: 1560px;
  padding: 30px 60px 30px 60px;
  margin: 0 auto;
}

.lobby__header {
  width: 100%;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: white;
  @extend %flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 18px;
}

.header__list {
  @extend %flex;

  li {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

.header__user {
  @extend %flex;

  span {
    margin-right: 15px;
  }
}

.lobby__main {
  flex-grow: 1;
  width: 100%;
  max-height: 87%;
  @extend %flex;
  justify-content: space-between;
}

.lobby__chats {
  height: 100%;
  flex: 1 0 30%;
  background-color: white;
  margin-right: 30px;
  border-radius: 10px;
  padding: 30px 30px 15px;
  @extend %flex;
  flex-direction: column;
  align-items: start;

  h2 {
    font-size: 24px;
    margin-bottom: 5px;
    user-select: none;
  }
}

.chats__head {
  margin-bottom: 15px;
}

.chats__list {
  @extend %flex;
  user-select: none;
  justify-content: start;
}

.chats__chat {
  cursor: pointer;
  font-size: 18px;
  transition: all 0.15s ease-in-out;
  position: relative;

  &:not(:last-child) {
    margin-right: 15px;
  }

  &.active {
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 3px;
      background-color: $mainColor;
      bottom: -3px;
      border-radius: 10px;
    }
  }
}

.chats__main {
  width: 100%;
  max-height: 90%;
  flex-grow: 1;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(16, 32, 49, 0.50);
  @extend %flex;
  flex-direction: column;
  justify-content: start;
}

.chats__block {
  width: 100%;
  flex-grow: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 15px;
  padding: 10px 10px 0;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 7px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 10px;
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: $mainColor;
    border-radius: 20px;
  }
}

.chats__message {
  width: fit-content;
  font-size: 16px;
  border: 1px solid #afafaf;
  border-radius: 5px;
  padding: 5px 10px;
  @extend %flex;
  flex-direction: column;
  align-items: start;

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.message__text {
  margin-bottom: 10px;
  word-break: break-word;
}

.message__info {
  width: 100%;
  font-weight: 400;
  @extend %flex;
  justify-content: end;

  img {

  }

  svg {
    height: 30px;
    width: 30px;
  }
}

.info__text {
  @extend %flex;
  flex-direction: column;
  height: 30px;
  justify-content: space-between;
  margin-right: 10px;
}

.message__time {
  font-size: 12px;
  align-self: end;
}

.message__name {
  font-size: 14px;
  align-self: start;
}

.chats__form {
  width: 100%;
  @extend %flex;
  justify-content: start;
  border-radius: 10px;
}

.chats__input {
  flex-grow: 1;
  height: 100%;
  background-color: white;
  border: 2px solid $mainColor;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 10px;
  font-size: 16px;
}

.chats__button {
  position: relative;
  width: 50px;
  height: 50px;
  background: white url("../../Imgs/PNG/send.svg") no-repeat center;
  border: 2px solid $mainColor;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: all 0.3s ease-in-out;

  &:hover, &:active {
    transform: none;
    background: $mainColor url("../../Imgs/PNG/send_white.svg") no-repeat center;
  }
}

.lobby__lobbies {
  height: 100%;
  flex: 2 0 65%;
  padding: 30px;
  border-radius: 10px;
  background-color: white;
  @extend %flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.lobbies__header {
  width: 100%;
  @extend %flex;
  justify-content: space-between;
  margin-bottom: 15px;

  h2 {
    font-size: 24px;
    margin-bottom: 15px;
    user-select: none;
  }
}

.lobbies__button {
  padding: 12px 10px;
  font-size: 18px;
}

.lobbies__main {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
}

.lobbies__modal {
  width: 400px;
  height: fit-content;
  padding: 15px;
}

.lobbies-modal__body {
  color: $bgColor;
  font-size: 16px;
  width: 100%;
  @extend %flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.lobbies-modal__title {
  font-size: 20px;
  margin-bottom: 30px;
}

.lobbies-modal__input {
  border: 1px solid $borderGrey;
  padding: 4px 8px;
  font-size: 16px;
  margin-bottom: 15px;
  width: 100%;

  &::placeholder {
    color: #595959
  }

  &:hover, &:active{
    border: 1px solid $mainColor;
  }
}

.lobbies-modal__players {
  @extend %flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;

  p {

  }
}

.lobbies-modal__list {
  @extend %flex;
  background-color: $borderGrey;
  border-radius: 5px;

  li {
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    transition: background-color 0.2s ease-in-out;

  }
}

.li-selected {
  background-color: $mainColor;
}

.lobbies-modal__private{
  @extend %flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;

  p{

  }
}

.lobbies-modal__autoplay{
  @extend %flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30px;

  p{
.party_game {
  width: 50rem;
  height: 10rem;
  flex-shrink: 0;
  display: flex;
}

.player_party {
  margin-left: 3.5rem;
  margin-top: 1.9rem;
}

.line {
  width: 55rem;
  height: 1px;
  background: #ACACAC;
  margin-left: auto;
  margin-right: auto;
}

.username {
  text-align: center;
}

.add_player:hover {
  cursor: pointer;
}

.player_avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 100px;
}

  }
}

.lobbies-modal__create{
  align-self: end;
  font-size: 16px;
  padding: 8px 16px;
}
